*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
}
#style{
    border: 2px solid green;
    background: green;
    color: white;
    padding: 8px;
    border-radius: 5px;
    margin-left: 5px;
}
#style:hover{
    background: black;
    color: green;
    text-decoration: underline;
    transition: 0.4s;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    color: white;
    padding-top: 10px;
    padding-bottom:10px ;
}
.nav .logo{
    color: green;
    margin-left: 9rem;
    cursor: default;
}
.nav .nav-bar ul{
    display: inline-flex;
    margin-right: 5rem;
}
.nav .nav-bar ul li{
    margin-right: 3rem;
    color: green;
    list-style: none;
}
.nav .nav-bar ul #lista{
    margin-top: 10px;
}
.nav .nav-bar ul #lista:hover{
    font-size:20px ;
    text-decoration: underline;
    transition: 0.3s;
}
.nav .nav-bar ul a{
    text-decoration: none;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #1F2128;
    height: 640px;
}
.contact{
    color: white;
    margin-top: -100px;
}
.contact h1{
    margin-left: 320px;
}

.contact .ime,.email,.tekst{
   margin-top: 10px;
   background: lightgrey;
    border: 2px black solid;
    border-radius: 20px;
}
.contact input{
    height: 50px;
    width: 800px;
    padding-left: 20px;
    font-size: 20px;
}

.contact textarea{
    width: 800px;
    height: 200px;
    padding-left: 20px;
    font-size: 20px;
}
.contact h1{
    margin-left: 315px;
    font-size: 30px;
}
.contact button{
    border: 2px solid green;
    background: green;
    color: white;
    padding: 8px;
    border-radius: 12px;
    margin-left: 5px;
    cursor: pointer;
    margin-left: 19.5rem;
    height: 60px;
    width: 170px;
    font-size: 18px;
    margin-top: 10px;
}
.contact button:hover{
    background:#1F2128;
    color: green;
    text-decoration: underline;
    transition: 0.4s;
}
footer{
    height: 40px;
    background: black;
    color: white;
}
footer .copy{
    padding-top: 10px;
}
.ikoni{
    display: flex;
    margin-right: 60px;
    position: absolute;
    margin-top: 500px;
}
.ikoni .instagram,.facebook,.linkedin{
    margin-left: 25px;

}
.ikoni .facebook a{
    color: #1877F2;
}
.ikoni .instagram a{
    color: #fccc63;
}
.ikoni .linkedin a{
    color: #0762C8;
}
.ikoni .facebook a:hover{
    color: mediumpurple;
}
.ikoni .instagram a:hover{
    color: mediumpurple;
}
.ikoni .linkedin a:hover{
    color: mediumpurple;
}